@import "~materialize-css/dist/css/materialize.min.css";

* {
    margin: 0;
    padding: 0;
}

body {
    background: silver;
}

.center-box {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.center-nav {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.center-boxes {
    flex: 430px;
    max-width: 470px;
}

.align-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.w-nav {
    width: 1200px;
}

.d-flex {
    display: flex;
}

.m-0 {
    margin: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-22 {
    margin-top: 22px;
}

.mt {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml {
    margin-left: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-20 {
    margin-right: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-105 {
    margin-top: 105px;
}

.mt-50 {
    margin-top: 50px;
}

.mb {
    margin-bottom: 80px;
}

.mb-7 {
    margin-bottom: 7px;
}

.isActive {
    font-weight: bold;
}

#br-15 {
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25)
}

.jc {
    justify-content: space-between;
}

.fz {
    font-size: 15px;
}

.share-block {
    margin: 10px;
}

.share {
    display: none;
    padding-top: 5px;
    position: absolute;
    padding-left: 210px;
}

.share-item {
    display: flex;
}

.share-block:active .share {
    display: block;
}

.share:hover {
    display: block;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
}

.auth-block {
    max-width: 400px
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.w {
    width: 1300px;
}

.h-72{
    height: 72px;
    overflow: hidden;
    word-wrap: break-word;
}

.text-justify{
    text-align: justify;
}

.ta-left {
    text-align: left;
}

.nav-logo {
    font-size: 30px;
    font-weight: bold;
}

.border-nav {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25)
}

.icon {
    font-size: 28px;
}

.icon-search {
    color: rgb(209, 209, 209);
}

.small-icon {
    font-size: 15px;
}

.name-nav {
    border-radius: 10px;
    padding: 0 6px;
    border-bottom: 2px solid #FF4B2B;
}

.search-input {
    width: 200px;
}

#tags-input {
    width: 200px;
    max-height: 40px;
    border-bottom: none;
}

.paginate {
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.hover {
    cursor: pointer;
}

.icon-details {
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 700px;
}

.p-30 {
    padding: 30px 20px 60px 30px;
}

.m-details {
    margin-right: 15px;
    width: 45%;
}

.mw {
    max-width: 1300px;
}

.bp {
    border-top: 2px solid #FF4B2B;
}

.recomended {
    width: 220px;
    height: 300px;
    margin: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.h-45{
    height: 45px;
}

.p-10 {
    padding: 0 10px 5px 10px;
}

.like-recomended {
    display: flex;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.options button {
    background: #333333;
    border: none;
    margin-bottom: 5px;
    padding: 10px 20px 10px 20px;
}

.select-nav {
    display: block;
    font-weight: bold;
    background: none;
    color: #333333;
    border: none;
    margin-right: 20px;
}

.w-select1 {
    width: 90px;
}

.w-select2 {
    width: 165px;
}

.rounded-circle {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.text-center {
    text-align: center;
}

.comments {
    padding: 10px;
    border: 1px solid #FF4B2B;
    border-radius: 10px;
    width: 500px;
    height: 130px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.w-500 {
    max-width: 500px;
}

.w-200 {
    max-width: 200px;
}

.jc-se {
    justify-content: space-evenly;
}

.jc-sa {
    justify-content: space-around;
}

.forgot {
    width: 450px;
    height: 220px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.forgot h4 {
    font-size: 25px;
    font-weight: bold;
}

.reset {
    height: 260px;
}

.forgot input {
    max-width: 350px;
    margin-top: 20px;
}

.forgot button {
    width: 350px;
    border-radius: 0;
}

.forgot button a {
    color: #FFFFFF;
}

button:focus {
    background: #FF4B2B;

}

/*button:visited {*/
/*    background: #FF4B2B;*/

/*}*/

.btn-none:focus {
    background: none;
}

.edit-div {
    width: 250px;
}

.edit-div button {
    width: 250px;
    border-radius: 5px;
}

.text-post {
    font-size: 15px;
    margin-right: 5px;
}

.mw-80{
    min-width: 80%;
}

.w-90{
    width: 90%;
}

.w-75{
    width: 75%;
}

#wrapper {
    left: auto;
    right: auto;
}

header{
    max-width: 1300px;
    margin-top: 100px;
    left: auto;
    right: auto;


}
