.cart-items {
    height: 170px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    background: #fafafa;
}

.m-50 {
    margin: 50px;
}

.w-55 {
    width: 55%;
    padding: 0 10px;
}

.w-40 {
    width: 40%;
    box-sizing: border-box;
}

.w-5 {
    width: 5%;
}

.w-50{
    width: 50%;
}

.cart-wrap{
    display: flex;
    flex-wrap: wrap;
}

.cart-address{
    max-width: 200px;
    overflow: hidden;
}
